In [1]:
import pandas as pd
import numpy as np
import os


# Max column
pd.set_option('display.max_columns', None)
#Location of file
os.getcwd()

'C:\\Users\\shaikh.kamran\\ProjectPurchase'

In [2]:
# Folder path containing the files
pathSpecified = "D:/Shaikh_Desktop_Mydoc/Desktop/Automation Projects/20220622 PriceMirror/MMS2018JanTo2023Jun"  # Replace with the actual folder path

# Using listdir() function  
listOfFileNames = os.listdir(pathSpecified)


# Print the name of all files in directory  
print("Following is the list of names of all the files present in the specified directory: ")  
# Create an empty DataFrame to store the combined data
combined_data = pd.DataFrame()
print(listOfFileNames)

Following is the list of names of all the files present in the specified directory:
['01 JanJun18.xlsx', '02 JulDec18.xlsx', '03 JanJun19.xlsx', '04 JulDec19.xlsx', '05 JanJun20.xlsx', '06 JulDec20.xlsx', '07 Jan21Jun21.xlsx', '08 JulDec21.xlsx', '09 JanJun22.xlsx', '10 JulDec22.xlsx', '11 JanMay23.xlsx', '12 June23.xlsx', '13 July23.xlsx']

In [3]:
import pandas as pd


# Create an empty DataFrame to store the combined data
combined_data = pd.DataFrame()


# Iterate over the file names
for file_name in listOfFileNames:
    # Construct the file path
    file_path = os.path.join(pathSpecified, file_name)
    # Read the file into a DataFrame
    # Define the skiprows and column data types
    skiprows = 5
    dtype = {
        'Order Date': 'datetime64',
        'Item Code': str,
        'POReference': str,
        'Supplier Id' : str,
        
        
    }

    # Load the Excel file
    data = pd.read_excel(file_path, index_col=False, skiprows=range(0, 5), dtype=dtype).iloc[0:].reset_index(drop=True)
    combined_data = combined_data.append(data)
# Display the loaded data
combined_data.head(4)

C:\Users\shaikh.kamran\AppData\Local\Temp\ipykernel_6664\149377734.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(data)
C:\Users\shaikh.kamran\AppData\Local\Temp\ipykernel_6664\149377734.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(data)
C:\Users\shaikh.kamran\AppData\Local\Temp\ipykernel_6664\149377734.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(data)
C:\Users\shaikh.kamran\AppData\Local\Temp\ipykernel_6664\149377734.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(data)
C:\Users\shaikh.kamran\AppData\Local\Temp\ipykernel_6664\149377734.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(data)
C:\Users\shaikh.kamran\AppData\Local\Temp\ipykernel_6664\149377734.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(data)
C:\Users\shaikh.kamran\AppData\Local\Temp\ipykernel_6664\149377734.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(data)
C:\Users\shaikh.kamran\AppData\Local\Temp\ipykernel_6664\149377734.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(data)
C:\Users\shaikh.kamran\AppData\Local\Temp\ipykernel_6664\149377734.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(data)
C:\Users\shaikh.kamran\AppData\Local\Temp\ipykernel_6664\149377734.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(data)
C:\Users\shaikh.kamran\AppData\Local\Temp\ipykernel_6664\149377734.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(data)
C:\Users\shaikh.kamran\AppData\Local\Temp\ipykernel_6664\149377734.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(data)
C:\Users\shaikh.kamran\AppData\Local\Temp\ipykernel_6664\149377734.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(data)

,Unnamed: 0,Business,Column1,Supplier Id,Supplier Name,Column2,Column3,Country,Column4,Currency,POReference,Column5,Order Date,Order Type,Category,Item Code,Item Name,Unit,POQuantity,PORate,Amount,Advance,Create By,Create Date
0,NaN,ACI Agrolink Limited,NaN,01180207,"Nantong Worldbase Imp. and Exp. Co., Ltd.",NaN,NaN,China,NaN,USD,0000168918010541,NaN,2018-02-26,Import,CM,5000011988,Contact Plate Freezer,1 Set,1.0,19000.0,19000.0,0.0,Md. Nurul Hasan,2018-02-20 10:15:49
1,NaN,ACI Agrolink Limited,NaN,01180207,"Nantong Worldbase Imp. and Exp. Co., Ltd.",NaN,NaN,China,NaN,USD,0000168918010541,NaN,2018-02-26,Import,CM,5000011987,Flake Ice Machine,1 Set,1.0,50000.0,50000.0,0.0,Md. Nurul Hasan,2018-02-20 10:15:24
2,NaN,ACI Agrolink Limited,NaN,01180159,"Anritsu Infivis (Thailand) Co., Ltd.",NaN,NaN,Thailand,NaN,USD,0000168918010628,NaN,2018-03-07,Import,CM,5000011401,Metal Detector,Set,1.0,14000.0,14000.0,0.0,Md. Nurul Hasan,2018-02-01 13:35:49
3,NaN,ACI Agrolink Limited,NaN,01180266,Neptune Refrigeration Co P Ltd,NaN,NaN,India,NaN,USD,0000168918010653,NaN,2018-03-08,Import,CM,5000012370,Compressor,1 Set,1.0,12900.0,12900.0,0.0,Md. Nurul Hasan,2018-03-05 13:12:03

In [4]:
display(combined_data.columns)
display(combined_data.shape)

Index(['Unnamed: 0', 'Business', 'Column1', 'Supplier Id', 'Supplier Name',
       'Column2', 'Column3', 'Country', 'Column4', 'Currency', 'POReference',
       'Column5', 'Order Date', 'Order Type', 'Category', 'Item Code',
       'Item Name', 'Unit', 'POQuantity', 'PORate', 'Amount', 'Advance',
       'Create By', 'Create Date'],
      dtype='object')

(410845, 24)

In [5]:
# Trim Columns

columns_to_trim = ['Item Code', 'Item Name', 'Unit']

# Trim whitespaces from the selected columns
combined_data[columns_to_trim] = combined_data[columns_to_trim].apply(lambda x: x.str.strip())

In [6]:
# business_to_keep = ['ACI Animal Genetics',
# 'ACI Consumer Electronics',
# 'ACI Crop Care (ACI Formulations Limited)',
# 'ACI Flour',
# 'ACI Foods Ltd.',
# 'ACI Premio Plastics',
# 'Aerosol',
# 'Animal Health',
# 'CB Core ', 
# 'Edible Oil',
# 'Fertilizer',
# 'Hygiene',
# 'Paint',
# 'Pharma',
# 'Premiaflex',
# 'ACI Salt',
# 'Electrical',
# 'Field Crops',
# 'Mosquito Coil',
# 'Rice',
# 'Vanish',
# 'Vegetables',
# 'Vegetables-EWS',
# ]

# # business_to_keep =['Hygiene']


# combined_data = combined_data[combined_data['Business'].isin(business_to_keep)]

# display(combined_data.shape)

In [7]:
combined_data['Year'] = combined_data['Order Date'].dt.year
combined_data['Month'] = combined_data['Order Date'].dt.month_name()

# monthly_data = data.groupby(['Item Name', 'Year', 'Month'])['PORate'].mean().reset_index()
combined_data.head(5)

,Unnamed: 0,Business,Column1,Supplier Id,Supplier Name,Column2,Column3,Country,Column4,Currency,POReference,Column5,Order Date,Order Type,Category,Item Code,Item Name,Unit,POQuantity,PORate,Amount,Advance,Create By,Create Date,Year,Month
0,NaN,ACI Agrolink Limited,NaN,01180207,"Nantong Worldbase Imp. and Exp. Co., Ltd.",NaN,NaN,China,NaN,USD,0000168918010541,NaN,2018-02-26,Import,CM,5000011988,Contact Plate Freezer,1 Set,1.0,19000.0,19000.0,0.0,Md. Nurul Hasan,2018-02-20 10:15:49,2018,February
1,NaN,ACI Agrolink Limited,NaN,01180207,"Nantong Worldbase Imp. and Exp. Co., Ltd.",NaN,NaN,China,NaN,USD,0000168918010541,NaN,2018-02-26,Import,CM,5000011987,Flake Ice Machine,1 Set,1.0,50000.0,50000.0,0.0,Md. Nurul Hasan,2018-02-20 10:15:24,2018,February
2,NaN,ACI Agrolink Limited,NaN,01180159,"Anritsu Infivis (Thailand) Co., Ltd.",NaN,NaN,Thailand,NaN,USD,0000168918010628,NaN,2018-03-07,Import,CM,5000011401,Metal Detector,Set,1.0,14000.0,14000.0,0.0,Md. Nurul Hasan,2018-02-01 13:35:49,2018,March
3,NaN,ACI Agrolink Limited,NaN,01180266,Neptune Refrigeration Co P Ltd,NaN,NaN,India,NaN,USD,0000168918010653,NaN,2018-03-08,Import,CM,5000012370,Compressor,1 Set,1.0,12900.0,12900.0,0.0,Md. Nurul Hasan,2018-03-05 13:12:03,2018,March
4,NaN,ACI Agrolink Limited,NaN,01180344,"YANTAI HIGH LINK IMP. EXP. CO., LTD.",NaN,NaN,China,NaN,USD,0000168918020444,NaN,2018-03-22,Import,CM,5000012908,Sandwich Panel with cold Room Facility,1 unit,1.0,95200.0,95200.0,0.0,Md. Aminul Azim,2018-03-22 16:34:17,2018,March

In [8]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 410845 entries, 0 to 6563
Data columns (total 26 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     0 non-null       float64
 1   Business       410845 non-null  object
 2   Column1        0 non-null       float64
 3   Supplier Id    410845 non-null  object
 4   Supplier Name  410845 non-null  object
 5   Column2        0 non-null       float64
 6   Column3        0 non-null       float64
 7   Country        398308 non-null  object
 8   Column4        0 non-null       float64
 9   Currency       410845 non-null  object
 10  POReference    410845 non-null  object
 11  Column5        0 non-null       float64
 12  Order Date     410845 non-null  datetime64[ns]
 13  Order Type     410845 non-null  object
 14  Category       410845 non-null  object
 15  Item Code      410845 non-null  object
 16  Item Name      410845 non-null  object
 17  Unit           410845 non-null  object
 18  POQuantity     410845 non-null  float64
 19  PORate         410845 non-null  float64
 20  Amount         410845 non-null  float64
 21  Advance        410845 non-null  float64
 22  Create By      410845 non-null  object
 23  Create Date    410845 non-null  datetime64[ns]
 24  Year           410845 non-null  int64
 25  Month          410845 non-null  object
dtypes: datetime64[ns](2), float64(10), int64(1), object(13)
memory usage: 84.6+ MB

#### Data Range afetr 2021

In [9]:
# _______________Take Date range______________

# Define the date range to delete (inclusive)
start_date = 2021

# Filter the DataFrame using boolean indexing
combined_data_22 = combined_data[combined_data['Year'] >= start_date]

display(combined_data.shape)
display(combined_data_22.shape)

(410845, 26)

(222052, 26)

In [10]:
# Sort DataFrame by 'Business', 'Item Code', 'Item Name', 'Currency', 'Order Date' in ascending order
combined_data_22.sort_values(by=['Business', 'Item Code', 'Item Name', 'Currency', 'Order Date'], ascending=True, inplace=True)
combined_data_22.shape

C:\Users\shaikh.kamran\AppData\Local\Temp\ipykernel_6664\1756355435.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_data_22.sort_values(by=['Business', 'Item Code', 'Item Name', 'Currency', 'Order Date'], ascending=True, inplace=True)

(222052, 26)

In [11]:
display(combined_data_22['Year'].unique())
display(combined_data_22.head())

array([2021, 2022, 2023], dtype=int64)

,Unnamed: 0,Business,Column1,Supplier Id,Supplier Name,Column2,Column3,Country,Column4,Currency,POReference,Column5,Order Date,Order Type,Category,Item Code,Item Name,Unit,POQuantity,PORate,Amount,Advance,Create By,Create Date,Year,Month
1098,NaN,ACI Agrolink Limited,NaN,01191150,Shandong Weifang Rainbow Chemical Co. Ltd.,NaN,NaN,China,NaN,USD,000421010187,NaN,2021-08-19,Import,RM,0701000061,Prism 27.5 SC,Ltr,10000.0,2.79,27900.0,0.0,Tareq Mahmud,2021-08-04 16:27:26,2021,August
2000,NaN,ACI Agrolink Limited,NaN,01191150,Shandong Weifang Rainbow Chemical Co. Ltd.,NaN,NaN,China,NaN,USD,000422010156,NaN,2022-06-07,Import,RM,0701000061,Prism 27.5 SC,Ltr,16000.0,3.02,48320.0,0.0,Nure Alam Shamim,2022-06-01 14:34:34,2022,June
1319,NaN,ACI Agrolink Limited,NaN,01191150,Shandong Weifang Rainbow Chemical Co. Ltd.,NaN,NaN,China,NaN,USD,000422010243,NaN,2022-08-30,Import,RM,0701000061,Prism 27.5 SC,Ltr,32000.0,2.70,86400.0,0.0,Nure Alam Shamim,2022-08-24 12:57:35,2022,August
921,NaN,ACI Agrolink Limited,NaN,01191150,Shandong Weifang Rainbow Chemical Co. Ltd.,NaN,NaN,China,NaN,USD,000423010006,NaN,2023-01-03,Import,RM,0701000061,Prism 27.5 SC,Ltr,16000.0,2.74,43840.0,0.0,Nure Alam Shamim,2022-12-27 10:43:22,2023,January
130,NaN,ACI Agrolink Limited,NaN,01191150,Shandong Weifang Rainbow Chemical Co. Ltd.,NaN,NaN,China,NaN,USD,2307000770,NaN,2023-07-10,Import,RM,0701000061,Prism 27.5 SC,Ltr,48000.0,2.12,101760.0,0.0,Faisal Ahmed Tahasan,2023-07-10 15:42:27,2023,July

In [12]:
# Concatenate 'Year' and 'Month' into a new column 'Concatenated_Column'
combined_data_22['YYYY-MMM'] = combined_data_22['Year'].astype(str) + '-' + combined_data_22['Month']
display(combined_data_22.head(5))
display(combined_data_22['YYYY-MMM'].unique())
display(combined_data_22.shape)

C:\Users\shaikh.kamran\AppData\Local\Temp\ipykernel_6664\3466644153.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_data_22['YYYY-MMM'] = combined_data_22['Year'].astype(str) + '-' + combined_data_22['Month']

,Unnamed: 0,Business,Column1,Supplier Id,Supplier Name,Column2,Column3,Country,Column4,Currency,POReference,Column5,Order Date,Order Type,Category,Item Code,Item Name,Unit,POQuantity,PORate,Amount,Advance,Create By,Create Date,Year,Month,YYYY-MMM
1098,NaN,ACI Agrolink Limited,NaN,01191150,Shandong Weifang Rainbow Chemical Co. Ltd.,NaN,NaN,China,NaN,USD,000421010187,NaN,2021-08-19,Import,RM,0701000061,Prism 27.5 SC,Ltr,10000.0,2.79,27900.0,0.0,Tareq Mahmud,2021-08-04 16:27:26,2021,August,2021-August
2000,NaN,ACI Agrolink Limited,NaN,01191150,Shandong Weifang Rainbow Chemical Co. Ltd.,NaN,NaN,China,NaN,USD,000422010156,NaN,2022-06-07,Import,RM,0701000061,Prism 27.5 SC,Ltr,16000.0,3.02,48320.0,0.0,Nure Alam Shamim,2022-06-01 14:34:34,2022,June,2022-June
1319,NaN,ACI Agrolink Limited,NaN,01191150,Shandong Weifang Rainbow Chemical Co. Ltd.,NaN,NaN,China,NaN,USD,000422010243,NaN,2022-08-30,Import,RM,0701000061,Prism 27.5 SC,Ltr,32000.0,2.70,86400.0,0.0,Nure Alam Shamim,2022-08-24 12:57:35,2022,August,2022-August
921,NaN,ACI Agrolink Limited,NaN,01191150,Shandong Weifang Rainbow Chemical Co. Ltd.,NaN,NaN,China,NaN,USD,000423010006,NaN,2023-01-03,Import,RM,0701000061,Prism 27.5 SC,Ltr,16000.0,2.74,43840.0,0.0,Nure Alam Shamim,2022-12-27 10:43:22,2023,January,2023-January
130,NaN,ACI Agrolink Limited,NaN,01191150,Shandong Weifang Rainbow Chemical Co. Ltd.,NaN,NaN,China,NaN,USD,2307000770,NaN,2023-07-10,Import,RM,0701000061,Prism 27.5 SC,Ltr,48000.0,2.12,101760.0,0.0,Faisal Ahmed Tahasan,2023-07-10 15:42:27,2023,July,2023-July

array(['2021-August', '2022-June', '2022-August', '2023-January',
       '2023-July', '2021-December', '2022-April', '2021-April',
       '2021-January', '2022-February', '2022-March', '2022-May',
       '2022-October', '2021-March', '2021-July', '2021-October',
       '2023-May', '2021-May', '2022-January', '2021-February',
       '2022-September', '2023-June', '2022-July', '2022-December',
       '2023-February', '2023-April', '2023-March', '2022-November',
       '2021-June', '2021-November', '2021-September'], dtype=object)

(222052, 27)

## Keep last price only

* Last price for 2022-July, combined_data_22_LP_July_22

In [13]:
dates_to_keep= ['2021-January', '2021-February', '2021-March', '2021-April', '2021-May', '2021-June', 
                '2021-July', '2021-August', '2021-September', '2021-October', '2021-November','2021-December',
                '2022-January', '2022-February','2022-March', '2022-April', '2022-May', '2022-June', '2022-July']


combined_data_22_LP_July_23 = combined_data_22[combined_data_22['YYYY-MMM'].isin(dates_to_keep)]




# Sort the DataFrame by 'Date' in descending order (latest date first)
combined_data_22_LP_July_23.sort_values(by='Order Date', ascending=False, inplace=True)

# Drop duplicates based on 'Item', 'Business', 'Currency', and 'OrderType', keeping the first occurrence (latest price)
combined_data_22_LP_July_23.drop_duplicates(subset=['Business', 'Item Code', 'Currency'], keep='first', inplace=True)



# Print the cleaned DataFrame
display(combined_data_22_LP_July_23.head(5))
display(combined_data_22_LP_July_23['YYYY-MMM'].unique())
display(combined_data_22_LP_July_23.shape)

C:\Users\shaikh.kamran\AppData\Local\Temp\ipykernel_6664\2701159345.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_data_22_LP_July_23.sort_values(by='Order Date', ascending=False, inplace=True)
C:\Users\shaikh.kamran\AppData\Local\Temp\ipykernel_6664\2701159345.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_data_22_LP_July_23.drop_duplicates(subset=['Business', 'Item Code', 'Currency'], keep='first', inplace=True)

,Unnamed: 0,Business,Column1,Supplier Id,Supplier Name,Column2,Column3,Country,Column4,Currency,POReference,Column5,Order Date,Order Type,Category,Item Code,Item Name,Unit,POQuantity,PORate,Amount,Advance,Create By,Create Date,Year,Month,YYYY-MMM
32273,NaN,Pharma,NaN,01160887,HPZ Strategic Printing And Packaging Ltd,NaN,NaN,Bangladesh,NaN,BDT,2208000021,NaN,2022-07-31,Native,PM,040673/C,XCEL 665 ER TABLET CARTON,PCS,12000.0,3.920,47040.0,0.0,Masudur Rahman Bhuyan,2022-07-31 17:20:04,2022,July,2022-July
10809,NaN,ACI Foods Ltd.,NaN,PREMIAFLEX,PREMIAFLEX PLASTICS LIMITED,NaN,NaN,Bangladesh,NaN,BDT,2207001994,NaN,2022-07-31,Native,PM,PML0679,Fun140gm Chanachur Wrapper ( Hot & Spicy),Kg,1000.0,440.000,440000.0,0.0,Mohammad Russel Dhali,2022-07-31 11:05:09,2022,July,2022-July
38681,NaN,Rice,NaN,01170603,M/S Zihad Nayan Traders,NaN,NaN,Bangladesh,NaN,BDT,2207002045,NaN,2022-07-31,Native,RM,1801000006,Paddy BR - 29,kg,19500.0,31.375,611812.5,0.0,Sumsut Tabrej,2022-07-31 16:10:12,2022,July,2022-July
15880,NaN,ACI Premio Plastics,NaN,01220443,VIVA PRINTING PACK,NaN,NaN,Bangladesh,NaN,BDT,2207001972,NaN,2022-07-31,Native,PM,3102000742,Big Corner for Platinum WD-5D,PCS,12000.0,25.000,300000.0,0.0,Md. Faridul Huq Khan,2022-07-31 10:39:35,2022,July,2022-July
32066,NaN,Pharma,NaN,BPPL,Best Printers Limited,NaN,NaN,Bangladesh,NaN,BDT,2208000017,NaN,2022-07-31,Native,PM,030452/A,PALIMAX ER TABLET LEAFLET,PCS,10000.0,0.360,3600.0,0.0,Masudur Rahman Bhuyan,2022-07-31 17:02:51,2022,July,2022-July

array(['2022-July', '2022-June', '2022-May', '2022-April', '2022-March',
       '2022-February', '2022-January', '2021-December', '2021-November',
       '2021-October', '2021-September', '2021-August', '2021-July',
       '2021-June', '2021-May', '2021-April', '2021-March',
       '2021-February', '2021-January'], dtype=object)

(45295, 27)

In [14]:
combined_data_22.head()

,Unnamed: 0,Business,Column1,Supplier Id,Supplier Name,Column2,Column3,Country,Column4,Currency,POReference,Column5,Order Date,Order Type,Category,Item Code,Item Name,Unit,POQuantity,PORate,Amount,Advance,Create By,Create Date,Year,Month,YYYY-MMM
1098,NaN,ACI Agrolink Limited,NaN,01191150,Shandong Weifang Rainbow Chemical Co. Ltd.,NaN,NaN,China,NaN,USD,000421010187,NaN,2021-08-19,Import,RM,0701000061,Prism 27.5 SC,Ltr,10000.0,2.79,27900.0,0.0,Tareq Mahmud,2021-08-04 16:27:26,2021,August,2021-August
2000,NaN,ACI Agrolink Limited,NaN,01191150,Shandong Weifang Rainbow Chemical Co. Ltd.,NaN,NaN,China,NaN,USD,000422010156,NaN,2022-06-07,Import,RM,0701000061,Prism 27.5 SC,Ltr,16000.0,3.02,48320.0,0.0,Nure Alam Shamim,2022-06-01 14:34:34,2022,June,2022-June
1319,NaN,ACI Agrolink Limited,NaN,01191150,Shandong Weifang Rainbow Chemical Co. Ltd.,NaN,NaN,China,NaN,USD,000422010243,NaN,2022-08-30,Import,RM,0701000061,Prism 27.5 SC,Ltr,32000.0,2.70,86400.0,0.0,Nure Alam Shamim,2022-08-24 12:57:35,2022,August,2022-August
921,NaN,ACI Agrolink Limited,NaN,01191150,Shandong Weifang Rainbow Chemical Co. Ltd.,NaN,NaN,China,NaN,USD,000423010006,NaN,2023-01-03,Import,RM,0701000061,Prism 27.5 SC,Ltr,16000.0,2.74,43840.0,0.0,Nure Alam Shamim,2022-12-27 10:43:22,2023,January,2023-January
130,NaN,ACI Agrolink Limited,NaN,01191150,Shandong Weifang Rainbow Chemical Co. Ltd.,NaN,NaN,China,NaN,USD,2307000770,NaN,2023-07-10,Import,RM,0701000061,Prism 27.5 SC,Ltr,48000.0,2.12,101760.0,0.0,Faisal Ahmed Tahasan,2023-07-10 15:42:27,2023,July,2023-July

* Last price for 2022-December, combined_data_22_LP_Dec_22

In [15]:
dates_to_keep= ['2022-January', '2022-February', '2022-March', '2022-April', '2022-May', '2022-June', 
                '2022-July', '2022-August', '2022-September', '2022-October', '2022-November','2022-December']


combined_data_22_LP_December_22 = combined_data_22[combined_data_22['YYYY-MMM'].isin(dates_to_keep)]



# Sort the DataFrame by 'Date' in descending order (latest date first)
combined_data_22_LP_December_22.sort_values(by='Order Date', ascending=False, inplace=True)

# Drop duplicates based on 'Item', 'Business', 'Currency', and 'OrderType', keeping the first occurrence (latest price)
combined_data_22_LP_December_22.drop_duplicates(subset=['Business', 'Item Code','Currency'], keep='first', inplace=True)


# Print the cleaned DataFrame
display(combined_data_22_LP_December_22.head(5))
display(combined_data_22_LP_December_22['YYYY-MMM'].unique())
display(combined_data_22_LP_December_22.shape)

C:\Users\shaikh.kamran\AppData\Local\Temp\ipykernel_6664\2202396468.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_data_22_LP_December_22.sort_values(by='Order Date', ascending=False, inplace=True)
C:\Users\shaikh.kamran\AppData\Local\Temp\ipykernel_6664\2202396468.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_data_22_LP_December_22.drop_duplicates(subset=['Business', 'Item Code','Currency'], keep='first', inplace=True)

,Unnamed: 0,Business,Column1,Supplier Id,Supplier Name,Column2,Column3,Country,Column4,Currency,POReference,Column5,Order Date,Order Type,Category,Item Code,Item Name,Unit,POQuantity,PORate,Amount,Advance,Create By,Create Date,Year,Month,YYYY-MMM
28319,NaN,Common (Support Function),NaN,01210281,NURUL ISLAM ENTERPRISE,NaN,NaN,Bangladesh,NaN,BDT,2301000131,NaN,2022-12-31,Native,SM,5000043742,Route No-22,NOS,1.0,34783.0,34783.0,0.0,Md. Asaduzzaman,2022-12-31 14:30:03,2022,December,2022-December
28343,NaN,Common (Support Function),NaN,01210500,Fortune Trading,NaN,NaN,Bangladesh,NaN,BDT,2301000106,NaN,2022-12-31,Native,SM,5000044303,Route No-65,NOS,1.0,31652.0,31652.0,0.0,Md. Asaduzzaman,2022-12-31 12:41:45,2022,December,2022-December
28365,NaN,Common (Support Function),NaN,01210994,ZERO MILE PRIVATE LIMITED,NaN,NaN,Bangladesh,NaN,BDT,2301000110,NaN,2022-12-31,Native,SM,5000043767,Route No-09,NOS,1.0,55500.0,55500.0,0.0,Md. Asaduzzaman,2022-12-31 13:44:16,2022,December,2022-December
28298,NaN,Common (Support Function),NaN,01210281,NURUL ISLAM ENTERPRISE,NaN,NaN,Bangladesh,NaN,BDT,2301000131,NaN,2022-12-31,Native,SM,5000043781,Route No-48,NOS,1.0,31652.0,31652.0,0.0,Md. Asaduzzaman,2022-12-31 14:30:03,2022,December,2022-December
28301,NaN,Common (Support Function),NaN,01210281,NURUL ISLAM ENTERPRISE,NaN,NaN,Bangladesh,NaN,BDT,2301000132,NaN,2022-12-31,Native,SM,5000043745,Route No-23,NOS,1.0,14000.0,14000.0,0.0,Md. Asaduzzaman,2022-12-31 14:39:59,2022,December,2022-December

array(['2022-December', '2022-November', '2022-October', '2022-September',
       '2022-August', '2022-July', '2022-June', '2022-May', '2022-April',
       '2022-March', '2022-February', '2022-January'], dtype=object)

(34418, 27)

In [16]:
combined_data_22['YYYY-MMM'].unique()

array(['2021-August', '2022-June', '2022-August', '2023-January',
       '2023-July', '2021-December', '2022-April', '2021-April',
       '2021-January', '2022-February', '2022-March', '2022-May',
       '2022-October', '2021-March', '2021-July', '2021-October',
       '2023-May', '2021-May', '2022-January', '2021-February',
       '2022-September', '2023-June', '2022-July', '2022-December',
       '2023-February', '2023-April', '2023-March', '2022-November',
       '2021-June', '2021-November', '2021-September'], dtype=object)

* Last price   grouped_data_22_LP

In [17]:
combined_data_LP =combined_data.copy()
combined_data_LP['YYYY-MMM'] = combined_data_LP['Year'].astype(str) + '-' + combined_data_LP['Month']



#____________________________________

dates_to_keep_LP= ['2021-January', '2021-February', '2021-March', '2021-April','2021-May', '2021-June', 
                   '2021-July', '2021-August', '2021-September', '2021-October', '2021-November', '2021-December',
                   '2022-January', '2022-February', '2022-March', '2022-April','2022-May', '2022-June', 
                   '2022-July', '2022-August', '2022-September', '2022-October', '2022-November', '2022-December',
                   '2023-January', '2023-February', '2023-March', '2023-April','2023-May', '2023-June', '2023-July']


combined_data_LP = combined_data_LP[combined_data_LP['YYYY-MMM'].isin(dates_to_keep_LP)]



#____________________________________


# Convert 'Date' column to datetime format
combined_data_LP['Order Date'] = pd.to_datetime(combined_data_LP['Order Date'])

# Sort the DataFrame by 'Date' in ascending order
combined_data_LP.sort_values(by='Order Date', ascending=True, inplace=True)

# Group the data by 'Item', 'Business', 'Currency', and 'Order Type'
GRP_DT = combined_data_LP.groupby(['Business', 'Item Code', 'Currency'])['PORate']

# Calculate the immediate last price using the shift method
combined_data_LP['Last_Price'] = GRP_DT.shift(fill_value=0)

# Replace 0 with blank (None or NaN) in the 'Last_Price' column
combined_data_LP['Last_Price'] = combined_data_LP['Last_Price'].replace(0, None)




#________________________

dates_to_keep_LP= ['2023-July']
combined_data_LP = combined_data_LP[combined_data_LP['YYYY-MMM'].isin(dates_to_keep_LP)]


#__________________________




# Print the cleaned DataFrame
display(combined_data_LP.head(5))
display(combined_data_LP['YYYY-MMM'].unique())
display(combined_data_LP.shape)

,Unnamed: 0,Business,Column1,Supplier Id,Supplier Name,Column2,Column3,Country,Column4,Currency,POReference,Column5,Order Date,Order Type,Category,Item Code,Item Name,Unit,POQuantity,PORate,Amount,Advance,Create By,Create Date,Year,Month,YYYY-MMM,Last_Price
1059,NaN,Yamaha,NaN,01180765,India Yamaha Motor Private Ltd.,NaN,NaN,India,NaN,USD,2307000074,NaN,2023-07-02,Import,SM,2904000125,OEM PARTS FOR MOTORCYCLE,PCS,16800.0,7.12798,119750.064,0.0,Ayesha Akter,2023-07-02 16:42:59,2023,July,2023-July,0.88948
1051,NaN,Yamaha,NaN,01180765,India Yamaha Motor Private Ltd.,NaN,NaN,India,NaN,USD,2307000065,NaN,2023-07-02,Import,SM,2904000125,OEM PARTS FOR MOTORCYCLE,PCS,19050.0,4.19816,79974.948,0.0,Ayesha Akter,2023-07-02 12:12:35,2023,July,2023-July,7.12798
1052,NaN,Yamaha,NaN,01180765,India Yamaha Motor Private Ltd.,NaN,NaN,India,NaN,USD,2307000072,NaN,2023-07-02,Import,SM,2904000125,OEM PARTS FOR MOTORCYCLE,PCS,103600.0,0.88948,92150.128,0.0,Ayesha Akter,2023-07-02 16:37:08,2023,July,2023-July,4.19816
1053,NaN,Yamaha,NaN,01220252,HYUNDAI STEEL PIPE INDIA PRIVATE LIMITED,NaN,NaN,India,NaN,USD,2307000059,NaN,2023-07-02,Import,SM,2904000119,Tubes/Pipes for Motorcycle Manufacturing (Back...,PCS,1200.0,9.23000,11076.000,0.0,Ayesha Akter,2023-07-02 11:29:00,2023,July,2023-July,9.19833
1054,NaN,Yamaha,NaN,01180765,India Yamaha Motor Private Ltd.,NaN,NaN,India,NaN,USD,2307000066,NaN,2023-07-02,Import,SM,2904000125,OEM PARTS FOR MOTORCYCLE,PCS,57600.0,0.71658,41275.008,0.0,Ayesha Akter,2023-07-02 12:23:19,2023,July,2023-July,0.88948

array(['2023-July'], dtype=object)

(6564, 28)

In [18]:
# # Drop duplicate rows based on 'Item_Name', 'Business', and the year and month of 'Date'
# combined_data_22['YearMonth'] = combined_data_22['Order Date'].dt.to_period('M')  # Create a new column for Year-Month

# grouped_data_22_LP = combined_data_22.copy()
# grouped_data_22_LP.drop_duplicates(subset=['Order Type', 'Business', 'Item Code', 'Currency', 'Order Date'], keep='last', inplace=True)

# # # Drop the intermediate 'YearMonth' column if you don't need it anymore
# # df.drop(columns='YearMonth', inplace=True)

# # Print the cleaned DataFrame
# display(grouped_data_22_LP.head(5))
# display(grouped_data_22_LP.shape)

In [19]:
combined_data_22.shape

(222052, 27)

* Average Rate

In [20]:
# Concatenate 'Year' and 'Month' into a new column 'Concatenated_Column'
combined_data_22['YYYY-MMM'] = combined_data_22['Year'].astype(str) + '-' + combined_data_22['Month']
display(combined_data_22.head(5))
display(combined_data_22['YYYY-MMM'].unique())
display(combined_data_22.shape)



combined_data_AVRate =combined_data_22.copy()

dates_to_keep_WAP_AVRate= ['2023-January', '2023-February','2023-March', '2023-April', '2023-May', '2023-June']


combined_data_WAP3 = combined_data_AVRate[combined_data_AVRate['YYYY-MMM'].isin(dates_to_keep_WAP_AVRate)]

display(combined_data_WAP3['YYYY-MMM'].unique())


# Group by 'Item Code', 'Year', and 'Month', and calculate the WAP
AVRate_2021_2022 = combined_data_WAP3.groupby([ 'Business', 'Item Code', 'Currency'])['PORate'].agg('mean')

# Reset the index and rename the column
AVRate_2021_2022 = AVRate_2021_2022.reset_index().rename(columns={'PORate': 'AVRate'})

# Print the resulting grouped data
display(AVRate_2021_2022.head(5))

C:\Users\shaikh.kamran\AppData\Local\Temp\ipykernel_6664\3635720100.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_data_22['YYYY-MMM'] = combined_data_22['Year'].astype(str) + '-' + combined_data_22['Month']

,Unnamed: 0,Business,Column1,Supplier Id,Supplier Name,Column2,Column3,Country,Column4,Currency,POReference,Column5,Order Date,Order Type,Category,Item Code,Item Name,Unit,POQuantity,PORate,Amount,Advance,Create By,Create Date,Year,Month,YYYY-MMM
1098,NaN,ACI Agrolink Limited,NaN,01191150,Shandong Weifang Rainbow Chemical Co. Ltd.,NaN,NaN,China,NaN,USD,000421010187,NaN,2021-08-19,Import,RM,0701000061,Prism 27.5 SC,Ltr,10000.0,2.79,27900.0,0.0,Tareq Mahmud,2021-08-04 16:27:26,2021,August,2021-August
2000,NaN,ACI Agrolink Limited,NaN,01191150,Shandong Weifang Rainbow Chemical Co. Ltd.,NaN,NaN,China,NaN,USD,000422010156,NaN,2022-06-07,Import,RM,0701000061,Prism 27.5 SC,Ltr,16000.0,3.02,48320.0,0.0,Nure Alam Shamim,2022-06-01 14:34:34,2022,June,2022-June
1319,NaN,ACI Agrolink Limited,NaN,01191150,Shandong Weifang Rainbow Chemical Co. Ltd.,NaN,NaN,China,NaN,USD,000422010243,NaN,2022-08-30,Import,RM,0701000061,Prism 27.5 SC,Ltr,32000.0,2.70,86400.0,0.0,Nure Alam Shamim,2022-08-24 12:57:35,2022,August,2022-August
921,NaN,ACI Agrolink Limited,NaN,01191150,Shandong Weifang Rainbow Chemical Co. Ltd.,NaN,NaN,China,NaN,USD,000423010006,NaN,2023-01-03,Import,RM,0701000061,Prism 27.5 SC,Ltr,16000.0,2.74,43840.0,0.0,Nure Alam Shamim,2022-12-27 10:43:22,2023,January,2023-January
130,NaN,ACI Agrolink Limited,NaN,01191150,Shandong Weifang Rainbow Chemical Co. Ltd.,NaN,NaN,China,NaN,USD,2307000770,NaN,2023-07-10,Import,RM,0701000061,Prism 27.5 SC,Ltr,48000.0,2.12,101760.0,0.0,Faisal Ahmed Tahasan,2023-07-10 15:42:27,2023,July,2023-July

array(['2021-August', '2022-June', '2022-August', '2023-January',
       '2023-July', '2021-December', '2022-April', '2021-April',
       '2021-January', '2022-February', '2022-March', '2022-May',
       '2022-October', '2021-March', '2021-July', '2021-October',
       '2023-May', '2021-May', '2022-January', '2021-February',
       '2022-September', '2023-June', '2022-July', '2022-December',
       '2023-February', '2023-April', '2023-March', '2022-November',
       '2021-June', '2021-November', '2021-September'], dtype=object)

(222052, 27)

array(['2023-January', '2023-May', '2023-June', '2023-February',
       '2023-April', '2023-March'], dtype=object)

               Business   Item Code Currency   AVRate
0  ACI Agrolink Limited  0701000061      USD     2.74
1  ACI Agrolink Limited  5000001062      BDT  1750.00
2  ACI Agrolink Limited  5000002354      BDT   270.00
3  ACI Agrolink Limited  5000003502      BDT  5000.00
4  ACI Agrolink Limited  5000003503      BDT  6750.00

* WAP  WAP_fy_2021_2022

In [21]:
# Concatenate 'Year' and 'Month' into a new column 'Concatenated_Column'
combined_data_22['YYYY-MMM'] = combined_data_22['Year'].astype(str) + '-' + combined_data_22['Month']
display(combined_data_22.head(5))
display(combined_data_22['YYYY-MMM'].unique())
display(combined_data_22.shape)



combined_data_WAP2 =combined_data_22.copy()


combined_data_WAP = combined_data_WAP2[combined_data_WAP2['YYYY-MMM'].isin(dates_to_keep_WAP_AVRate)]

display(combined_data_WAP['YYYY-MMM'].unique())


def calculate_wap(amount, quantity):
    if quantity != 0:
        wap = amount / quantity
        return wap
    else:
        return None

# Group by 'Item Code', 'Year', and 'Month', and calculate the WAP
WAP_fy_2021_2022 = combined_data_WAP.groupby(['Business', 'Item Code', 'Currency']).apply(lambda x: calculate_wap(x['Amount'].sum(), x['POQuantity'].sum()))

# Reset the index and rename the column
WAP_fy_2021_2022 = WAP_fy_2021_2022.reset_index().rename(columns={0: 'WAP'})

# Print the resulting grouped data
display(WAP_fy_2021_2022.head(5))

C:\Users\shaikh.kamran\AppData\Local\Temp\ipykernel_6664\1771277578.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_data_22['YYYY-MMM'] = combined_data_22['Year'].astype(str) + '-' + combined_data_22['Month']

,Unnamed: 0,Business,Column1,Supplier Id,Supplier Name,Column2,Column3,Country,Column4,Currency,POReference,Column5,Order Date,Order Type,Category,Item Code,Item Name,Unit,POQuantity,PORate,Amount,Advance,Create By,Create Date,Year,Month,YYYY-MMM
1098,NaN,ACI Agrolink Limited,NaN,01191150,Shandong Weifang Rainbow Chemical Co. Ltd.,NaN,NaN,China,NaN,USD,000421010187,NaN,2021-08-19,Import,RM,0701000061,Prism 27.5 SC,Ltr,10000.0,2.79,27900.0,0.0,Tareq Mahmud,2021-08-04 16:27:26,2021,August,2021-August
2000,NaN,ACI Agrolink Limited,NaN,01191150,Shandong Weifang Rainbow Chemical Co. Ltd.,NaN,NaN,China,NaN,USD,000422010156,NaN,2022-06-07,Import,RM,0701000061,Prism 27.5 SC,Ltr,16000.0,3.02,48320.0,0.0,Nure Alam Shamim,2022-06-01 14:34:34,2022,June,2022-June
1319,NaN,ACI Agrolink Limited,NaN,01191150,Shandong Weifang Rainbow Chemical Co. Ltd.,NaN,NaN,China,NaN,USD,000422010243,NaN,2022-08-30,Import,RM,0701000061,Prism 27.5 SC,Ltr,32000.0,2.70,86400.0,0.0,Nure Alam Shamim,2022-08-24 12:57:35,2022,August,2022-August
921,NaN,ACI Agrolink Limited,NaN,01191150,Shandong Weifang Rainbow Chemical Co. Ltd.,NaN,NaN,China,NaN,USD,000423010006,NaN,2023-01-03,Import,RM,0701000061,Prism 27.5 SC,Ltr,16000.0,2.74,43840.0,0.0,Nure Alam Shamim,2022-12-27 10:43:22,2023,January,2023-January
130,NaN,ACI Agrolink Limited,NaN,01191150,Shandong Weifang Rainbow Chemical Co. Ltd.,NaN,NaN,China,NaN,USD,2307000770,NaN,2023-07-10,Import,RM,0701000061,Prism 27.5 SC,Ltr,48000.0,2.12,101760.0,0.0,Faisal Ahmed Tahasan,2023-07-10 15:42:27,2023,July,2023-July

array(['2021-August', '2022-June', '2022-August', '2023-January',
       '2023-July', '2021-December', '2022-April', '2021-April',
       '2021-January', '2022-February', '2022-March', '2022-May',
       '2022-October', '2021-March', '2021-July', '2021-October',
       '2023-May', '2021-May', '2022-January', '2021-February',
       '2022-September', '2023-June', '2022-July', '2022-December',
       '2023-February', '2023-April', '2023-March', '2022-November',
       '2021-June', '2021-November', '2021-September'], dtype=object)

(222052, 27)

array(['2023-January', '2023-May', '2023-June', '2023-February',
       '2023-April', '2023-March'], dtype=object)

               Business   Item Code Currency      WAP
0  ACI Agrolink Limited  0701000061      USD     2.74
1  ACI Agrolink Limited  5000001062      BDT  1750.00
2  ACI Agrolink Limited  5000002354      BDT   270.00
3  ACI Agrolink Limited  5000003502      BDT  5000.00
4  ACI Agrolink Limited  5000003503      BDT  6750.00

In [22]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
# path = 
writer = pd.ExcelWriter(r'D:\Shaikh_Desktop_Mydoc\Desktop\Automation Projects\20230727_Savings_Report_Commercial\Output_file\6M_Lastprice_WAP_AVRate.xlsx', engine='xlsxwriter')

# Write the MonthlyData DataFrame to a worksheet.






combined_data_22_LP_July_23.to_excel(writer, sheet_name='July23', index=False)
combined_data_22_LP_December_22.to_excel(writer, sheet_name='Dec22', index=False)
combined_data_LP.to_excel(writer, sheet_name='Lastprice', index=False)
WAP_fy_2021_2022.to_excel(writer, sheet_name='WAP', index=False)
AVRate_2021_2022.to_excel(writer, sheet_name='AV_Rate', index=False)


# Save the writer and close it.
writer.save()
writer.close()

C:\Users\shaikh.kamran\Anaconda3\lib\site-packages\xlsxwriter\workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")